html,
body {
  position: relative;
  height: 100%;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000000;
  margin: 0;
  padding: 0;
}

/* SwiperJS CSS */
.swiper {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/patty-brito-Y-3Dt0us7e0-unsplash.jpg);
  background-size: cover;
}

.timeline-slider .swiper-slide {
  font-size: 18px;
}
/* SwiperJS CSS END*/

/* SwiperJS Pagination */
.timeline-slider .swiper-pagination {
  position: absolute;
  top: 20% !important;
  width: 20% !important;
  left: 80% !important;
  margin-top: 17rem !important;
  margin-left: -20rem !important;
  font-size: 5rem !important;
}

.timeline-slider .swiper-pagination > span {
  padding-bottom: 11rem;
}

.timeline-slider .swiper-pagination-bullet {
  padding-top: 1rem;
  border-radius: 0;
  width: auto;
  height: 20px;
  text-align: end;
  font-size: 40px;
  font-weight: lighter;
  color: #eee;
  opacity: 1;
  background: transparent;
}

.timeline-slider .swiper-pagination-bullet-active {
  font-size: 3rem;
  font-weight: bolder;
  color: #fff;
}
/* SwiperJS Pagination END*/

/* Content Section  */
.timeline-slider .swiper-slide .line-word {
  position: absolute;
  top: 8rem;
  left: 9rem;
  font-size: 30px;
  color: #ffffff;
}

.timeline-slider .swiper-slide .head {
  z-index: 999;
  height: 4re;
  width: 7rem;
  position: absolute;
  top: 40%;
  left: 12%;
  color: #ffffff;
  font-size: 5rem;
}

.timeline-slider .swiper-slide .date-index {
  color: #ffffff;
  font-size: 40px;
  margin-bottom: 1.5rem;
  top: 60%;
  left: 13%;
}

.timeline-slider .swiper-slide .text {
  font-size: 30px;
  position: absolute;
  top: 67%;
  left: 13%;
  color: #ffffff;
}
/* Content Section END */

/* PLUS Line */
.hr {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 999;
  width: 95%;
  height: 20%;
  top: 2rem;
  left: 9rem;
  font-size: 30px;
  color: #ffffff;
}

#line1 {
  position: absolute;
  z-index: 999;
  border-top: 2px solid #ffffff;
  width: 63%;
  left: 6rem;
}

#vr {
  position: absolute;
  z-index: 999;
  border-left: 2px solid #ffffff;
  width: 0%;
  height: 90%;
  top: 3rem;
  left: 73%;
}
/* PLUS Line */
