* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.html,
body {
  position: relative;
  height: 100%;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000000;
  margin: 0;
  padding: 0;
  background-image: url(../images/raptimResearch.jpg);
  background-size: cover;
}

/* SwiperJS CSS */
.swiper {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    112.01deg,
    rgba(0, 0, 0, 0.8) 21.44%,
    rgba(0, 40, 63, 0.8) 84.86%
  );
}

.timeline-slider .swiper-slide {
  color: #ffffff;
  font-size: 18px;
  height: 953px;
  position: relative;
}
/* SwiperJS CSS END*/

/* SwiperJS Pagination */
.timeline-slider .swiper-pagination {
  height: 90%;
  position: absolute;
  top: 20% !important;
  width: 10% !important;
  left: 87% !important;
  margin-top: 17rem !important;
  margin-left: -20rem !important;
  font-size: 5rem !important;
  border-left: 2px solid #ffffff;
  color: #ffffff;
}

.timeline-slider .swiper-pagination > span {
  padding-bottom: 11rem;
}

.timeline-slider .swiper-pagination-bullet {
  padding-top: 2rem;
  padding-right: 1rem;
  transform: translateY(10%);
  border-radius: 0;
  width: auto;
  height: 20px;
  text-align: end;
  font-size: 30px;
  font-weight: lighter;
  opacity: 1;
  background: transparent;
}

.timeline-slider .swiper-pagination-bullet-active {
  font-size: 3rem;
  font-weight: bolder;
}
/* SwiperJS Pagination END*/

/* Defining page Size of Content */
.gsap {
  height: 100%;
  width: 100%;
  position: relative;
}

/* Content Section  */
.timeline-slider .swiper-slide .line-word {
  padding-top: 7rem;
  padding-left: 1rem;
  font-size: 30px;
}

.timeline-slider .swiper-slide .head {
  z-index: 999;
  height: 4re;
  width: 7rem;
  position: absolute;
  top: 30%;
  left: 13%;
  font-size: 5rem;
}

.timeline-slider .swiper-slide .date-index {
  position: absolute;
  font-size: 40px;
  margin-bottom: 1.5rem;
  top: 53%;
  left: 13%;
}

.timeline-slider .swiper-slide .text {
  font-size: 30px;
  position: absolute;
  top: 62%;
  left: 13%;
}

.timeline-slider .swiper-slide .line {
  position: absolute;
  z-index: 999;
  border-top: 2px solid #ffffff;
  width: 0%;
  left: 6rem;
}

.timeline-slider .swiper-slide-active .line {
  width: 61%;
  transition: all ease-in-out 1s 1s;
}
/* Content Section END */

/* PLUS Line */
.horixontal-line {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 999;
  width: 100vw;
  height: 30vh;
  top: 4rem;
  left: 5rem;
  font-size: 30px;
  color: #ffffff;
}
/* PLUS Line END*/
